@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;600&family=Roboto:wght@300&family=Young+Serif&display=swap');

.blogs-card {
  margin: 100px 0;
  width: 340px;
  border-radius: 5px;
  background-color: white;
}
.card-img {
  width: 100%;
  border-radius: 5px;
}

.card-title {
  width: max-content;
  font-size: 13px;
  font-weight: 500;
  background-color: #ffefe7;
  color: #fe5d14;
  border-radius: 3px;
  padding: 5px;
  margin: 15px 0 0 15px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.author {
  display: flex;
  align-items: center;
  color: 
  #61657E;
  font-size: 10px;
  letter-spacing: 0.8px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.date {
  display: flex;
  align-items: center;
  color: 
  #61657E;
  font-size: 10px;
  letter-spacing: 0.8px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.authAndDate{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  font-family: 'Poppins', sans-serif;
}
.card-description{
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 15px;
  border-bottom: 1px solid #61657e83;
  padding-bottom: 10px;
}

.card-btn{
  text-decoration: none;
  color: 
  #61657E;
  margin: 0 15px;
}
.btn-arrow{
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 17px 0;
}
